<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ../includes/meta.pug
		include ../includes/link.pug
		link(rel="stylesheet", href="./css/characteristic.css")
	body
		include ../includes/head.pug
		article
			h1 桂格全天然超級穀珍 - 安心滿分掌聲穀力 -佳格食品
			section.main
				.breadcrumbs
					ul
						li
							a.item(href="./") 首頁
						li
							a.item(href="./characteristic.html") 安心滿分‧掌聲穀力
				.wrapper
					.main_title
						.svg_box.left_wheat
							include ../includes/wheat_svg.pug
						.h1_txt
							| 安心
							span.bold 滿分・
							| 掌聲
							span.bold 穀力
						.svg_box.right_wheat
							include ../includes/wheat_svg.pug
					.content
						.slogan_bar
							.slogan
								p 致力追求高品質
								p 每一口都是安心
							.slogan
								p 全天然超級穀珍
								figure.num
									img(src="./images/characteristic_num.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-4321四大保證")
								p 五大保證
						//- .left
						.item
							figure.pic
								img(src="./images/characteristic_pic_04.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-原料通過593項農藥檢驗")
							.info
								h3.h3_txt
									| 原料通過
									figure.num
										img(src="./images/characteristic_num_05.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-原料通過593項農藥檢驗-數字4")
									|  93項農藥檢驗
								p.txt 每一包桂格出品的穀物，都是取自大自然最珍貴的穀物與食材製成。原料通過SGS 593項以上的農藥檢驗，從原料、製程、到成品，層層把關，領先業界給消費者最安心的營養。
						.item
							figure.pic
								img(src="./images/characteristic_pic_01.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-140年的品質保證")
							.info
								h3.h3_txt
									span.red  1
									figure.num
										img(src="./images/characteristic_num_04.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-140年的品質保證-數字4")
									span.red  0
									| 年的品質保證
								p.txt 高品質是桂格140年一脈相承的最高原則，桂格堅持每一口的安心，因為好原料、好品質，才有好健康。
						.item
							figure.pic
								img(src="./images/characteristic_pic_03.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-保留穀物3大全營養胚芽胚乳麩皮")
							.info
								h3.h3_txt
									| 保留穀物
									figure.num
										img(src="./images/characteristic_num_03.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-保留穀物3大全營養胚芽胚乳麩皮-數字3")
									|  大全榖營養：
									br
									| 胚芽、胚乳、麩皮
								p.txt 完整的穀物營養攝取要由內而外通通包含。從選品選種、實地勘查、到定期跨國稽核工廠，只為確認每一顆穀物的營養含量，帶給你最好的穀物營養因為只有最好的穀物才能為桂格所用。
						//- .right
						.item
							figure.pic
								img(src="./images/characteristic_pic_02.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-2大堅持不加糖無添加人工化學添加物")
							.info
								h3.h3_txt
									figure.num
										img(src="./images/characteristic_num_02.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-2大堅持不加糖無添加人工化學添加物-數字2")
									|  大堅持：
									br
									| 不加糖、無添加人工化學添加物
								p.txt 全天然超級穀珍100%無添加人工及化學添加物、100%無添加糖，成分天然看得懂，以穀物原味取代糖，糖分來自嚴選穀物與食材，真材實料，安心美味更健康。
						.item
							figure.pic
								img(src="./images/characteristic_pic_05.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-保留穀物3大全營養胚芽胚乳麩皮")
							.info
								h3.h3_txt
									| 連續多年銷售第
									figure.num
										img(src="./images/characteristic_num_01.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-保留穀物3大全營養胚芽胚乳麩皮-數字1")
									| 名
									//- figure.num
									//- 	img(src="./images/characteristic_num_03.png", alt="桂格全天然超級穀珍-安心滿分掌聲穀力-保留穀物3大全營養胚芽胚乳麩皮-數字3")
								p.txt 根據Kantar凱度消費者指數資料指出，在2011年1月1日至2019年12月29日期間，桂格在沖調榖物市場中 (包含袋盒裝多榖粉、三合一麥片及方便沖燕麥類產品)，連續九年銷售第一。





		
		include ../includes/footer.pug
		include ../includes/js_link.pug
		script(src="./js/characteristic.js")
