svg(x='0px', y='0px', viewBox='0 0 60 60')
  circle.st0(cx='30', cy='30', r='28.8')
  path.st1(d='M33.6,24.8v-3.5c0-1.5,0.4-2.6,1.7-2.6c0.7,0,4.3,0,4.3,0V13l-5.9,0c-6.5,0-7.2,4.9-7.2,8v3.9\
  h-4.6v6.8h4.6V51h7.1c0,0,0-10.8,0-19.4h5.3l0.7-6.8C39.6,24.8,33.6,24.8,33.6,24.8z')
