
//- .fix_shop
//-   figure.fix_pic
//-     img(src="./images/fixed_buy.png", alt="")
//-   .shop_box
//-     .shop_item
//-       figure.pic
//-         img(src="./images/shop_momo.png", alt="")
//-       a.shop_link(href="") 立即購買
//-     .shop_item
//-       figure.pic
//-         img(src="./images/shop_yahoo.png", alt="")
//-       a.shop_link(href="") 立即購買
//-     .shop_item
//-       figure.pic
//-         img(src="./images/shop_pchome.png", alt="")
//-       a.shop_link(href="") 立即購買
//-     .shop_item
//-       figure.pic
//-         img(src="./images/shop_quaker.png", alt="")
//-       a.shop_link(href="") 立即購買
//-     .shop_item
//-       figure.pic
//-         img(src="./images/shop_shopee.png", alt="")
//-       a.shop_link(href="") 立即購買
//-     .close close X

footer
  .footer_wrapper
    p.info 
      a(href="https://www.sfworldwide.com/index.aspx" target="_blank") 佳格食品股份有限公司
      | 版權所有
    p.info 
      | 消費者服務專線
      a.tel(href="tel:0800006969") 0800-006-969
      a.mail(href="mailto:web@service.quaker.com.tw") 服務信箱
    p.info 
      a(href="" target="_blank") 網站隱私權政策及使用條款