header
  .header_wrapper
    a.logo_link(href="./")
      figure.logo
        img(src="./images/nav_logo.png", alt="")
    nav
      ul.main_nav
        li.main_li
          a.item(href="./") 首頁
        li.main_li
          a.item(href="./characteristic.html") 安心滿分‧掌聲穀力
        li.main_li
          a.item(href="./product_list.html") 產品介紹
        li.main_li
          a.item(href="./drink.html") 美味吃法
      ul.social_nav
        li.social_li
          a.item(href="https://reurl.cc/okV1q" target="_blank")
            .svg_box
              include ../includes/fb_svg.pug
            //- figure.icon
            //-   img(src="./images/nav_icon.png", alt="")
        li.social_li
          a.item(href="https://reurl.cc/3g6El" target="_blank")
            .svg_box
              include ../includes/ig_svg.pug
            //- figure.icon
            //-   img(src="./images/nav_icon.png", alt="")
        li.social_li
          a.item(href="https://mall.stdfood.com/" target="_blank")
            .svg_box
              include ../includes/shop_svg.pug
            //- figure.icon
            //-   img(src="./images/nav_icon.png", alt="")
      a.back_home(href="https://quakercereal.sfworldwide.com/") 回桂格穀物館
    .ham
      //- figure.ham



.loadingloading
  .loading_bar
    .loader
    p.load_status 1%

