script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js')
script(src="./js/libs/TweenMax.js")
script(src='./js/libs/preloadjs-0.4.1.min.js')
script(src="./js/common.js")
script(src="./js/cookie.js")
include ../includes/cookie.pug

