meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title (未後臺)我的全天然健康主義 - 桂格超級穀珍
meta(name='keywords', content='')
meta(name='description', content='桂格全天然無加糖超級穀珍，致力追求高品質，每一口都是安心。愛健康我選桂格！')
meta(property='og:title', content='我的全天然健康主義 - 桂格超級穀珍')
meta(property='og:description', content='桂格全天然無加糖超級穀珍，致力追求高品質，每一口都是安心。愛健康我選桂格！')
meta(property='og:image', content='./images/fb_share_01.png')
meta(property='og:type', content='website')
link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
